@font-face {
  font-family: "iconfont"; /* Project id 3450323 */
  src: url('iconfont.woff2?t=1654425494714') format('woff2'),
       url('iconfont.woff?t=1654425494714') format('woff'),
       url('iconfont.ttf?t=1654425494714') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.newfontshandian:before {
  content: "\e8c5";
  font-size: 30px;
}


[class^="newfont"], [class*=" newfont"] {
  font-family:"fontFamily" !important;
  /* 以下内容参照第三方图标库本身的规则 */
  font-size: 18px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

